logs.txt
notes.md
debugging.py
patch.md
flask_pipeline.py

*.pkl
*.pth
*.pt
*.pyc
*.log
.*
*.ipynb
*/

!/main/
!/train/
!/models/
!/.gitignore
!*docker
!docker/static
!docker/templates
!.dockerignore
!model.pth
!trained_weights.pkl
!vocabulary.pkl
!datasets